
        
            <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center">
                <fieldset >Customer Information</fieldset>
              
                        <form [formGroup]="customerInfoForm">
                
                                <formly-form [model]="customerInfo" [fields]="customerInfoFields" [form]="customerInfoForm" [options]="options">
                                       
                                 
                                  
                                </formly-form>
                                
                             
                              </form>
                              <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center">
                                    <fieldset >Owners</fieldset>
                                    <app-ownership-list [data]="customerInfo.owners"></app-ownership-list>
                                    <fieldset >Signatories</fieldset>
                                    <app-signatories-list></app-signatories-list>
                                </div>
                                <div [hidden]="submitted" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end">
                                        <button mat-raised-button color="secondary" type="submit">
                                            Cancel
                                          </button>
                                      <button mat-raised-button color="primary" type="submit" (click)="onSubmit(customerInfo)" ng-disabled="customerInfoForm.$invalid">
                                        Submit
                                      </button>
                                     </div>
                              <div [hidden]="!submitted" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end">
                                        
                                  
                                    <button mat-button color="primary" (click)=onUpdate()>
                                            <i class="material-icons">
                                                edit
                                                </i>
                                        </button>
                                   </div>
                
            </div>
            