<header>
    
  <mat-toolbar color="primary" >
      <h3>Merchant Acquiring System</h3>
  
        
<div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="end">

</div>
      <a class="nav-link" mat-button color="accent" [routerLink]='["/"]'>Home</a>
      <a class="nav-link" mat-button color="accent" [routerLink]='["/counter"]'>Counter</a>
      <a class="nav-link" mat-button color="accent" [routerLink]='["/fetch-data"]'>Fetch data</a>
      <a class="nav-link" mat-button color="accent" [routerLink]='["/new-aff"]'>New Affialtion</a>
  
      

  </mat-toolbar>
  
</header>
