

<mat-card>
    <h2 class="text-primary">
        New Affiliation
      </h2>
    <mat-card-title>New Request</mat-card-title>
    <mat-card-content>
      
      
      



      <mat-vertical-stepper [linear]="isLinear" #stepper>
          <mat-step  label="Create Customer">
           
              <!-- <ng-template matStepLabel>Create Customer</ng-template> -->
              <app-customer-info></app-customer-info>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
           
          </mat-step>
          <mat-step label="Add branches">
           
              <!-- <ng-template matStepLabel>Add branches</ng-template> -->
              <app-branch-list></app-branch-list>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
           
          </mat-step>
          <mat-step label="Add OIF">

          </mat-step>
          <mat-step label="Add POS">

            </mat-step>
            <mat-step label="Submit Required Documents">

              </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
    </mat-card-content>
    
   
</mat-card>

