<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end">
    <button mat-mini-fab color="primary" (click)="openDialog()">
        <i class="material-icons white600">
            playlist_add
            </i>
    </button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z2 table-sm">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let owner"> {{owner.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="percentOfOwnership">
      <th mat-header-cell *matHeaderCellDef> % Of Ownership </th>
      <td mat-cell *matCellDef="let owner"> {{owner.percentOfOwnership}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="typeOfRelatedParty">
      <th mat-header-cell *matHeaderCellDef> Type Of Related Party </th>
      <td mat-cell *matCellDef="let owner"> {{owner.typeOfRelatedParty}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef> Remarks </th>
        <td mat-cell *matCellDef="let owner"> {{owner.remarks}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  